[Desktop Entry]
Version=1.0
Comment=Run Inferencing Quntized Model
Terminal=false
Name=Surface Crack Detection 
Exec=/home/pi/surface_crack_detection/surface_crack_detection_quant.py 
Type=Application
Icon=/home/pi/surface_crack_detection/images/ei_logo.jpg
